.handle {
    height: 34px;
    transform: translate(0, -16px);
    background-color: white !important;
    top: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.margins {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}

.floater {
    height: 0.4rem;
    width: 16rem;
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 2rem;
    opacity: 1;
    background: rgb(110, 110, 110);
    border-radius: 0.8rem;
    margin: 0px auto;
    transition: opacity 400ms ease 0s;
}

.floater-bar {
    height: 0.4rem;
    width: 16rem;
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}

ul.fa-bullet {
    list-style-type: none;
}

ul.fa-bullet li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
}

ul.images {
    padding: 0;
    white-space: nowrap;
    width: 900px;
    overflow-x: auto;
}
ul.images li {
    display: inline;
    width: 150px;
    height: 150px;
}

.sm-gallery-image {
    border-radius: 16px;
}
